<div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="<%= product.title %>">
</div>
<div class="form-control">
    <label for="image_url">Image URL</label>
    <input type="text" name="image_url" id="image_url" value="<%= product.image_url %>">
</div>
<div class="form-control">
    <label for="price">Price</label>
    <input type="number" name="price" id="price" step="0.01" value="<%= product.price %>">
</div>
<div class="form-control">
    <label for="description">Description</label>
    <textarea name="description" id="description" rows="5"><%= product.description %></textarea>
</div>